# Add files here to ignore them from prettier formatting
/dist
dist/
node_modules/
coverage/
/coverage
/apps/web/src/assets/*
crowdin.*
README.md
.nx/
*.min.css
*.min.js
tsconfig.json
/.nx/workspace-data
*.env
*.sh
*.png
*.ico
*.svg
*.webmanifest
.gitignore
.husky/